.opt-btn {
    width: 50%;
}

.smb {
    animation-duration: 2s;
    animation-name: slidein;
    margin-bottom: 0;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 100%;
    }

    to {
        margin-top: 1%;
        width: 100%;
    }
}